*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Cabin', sans-serif;
}
.pie{
    background: #EEEEEE;
}
img{
    width: 40px;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
span{
    font-size: 23px;
}

.fb{
    background: blue;
    padding: 8px;
    border-radius: 50px;
    color: white;
}

.tw{
    background: rgb(20, 163, 219);
    padding: 8px;
    border-radius: 50px;
    color: white;
}

.in{
    background: rgb(232, 76, 208);
    padding: 8px;
    border-radius: 50px;
    color: white;
}

.li{
    background: rgb(4, 4, 112);
    padding: 8px;
    border-radius: 50px;
    color: white;
}

.yt{
    background: rgb(239, 58, 58);
    padding: 8px;
    border-radius: 50px;
    color: white;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}
.logotipo{
    font-size: 18px;
    color: white;
}

/*added*/
.name{
    font-size:xx-large;
    color: #658863;
}
.section{
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
}
.section div{
    display: flex;
    flex-direction: column;
}
div h2{
    color: black;
    padding: 10px 0;
}
a{
    color: black;
    text-decoration: none;
    padding: 5px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input{
    background: solid 2px white;
    padding: 10px 20px;
}
button{
    padding: 10px 20px;
    background: #658864;
    color: white;
    font-size: 18px;
}
.logosDePago{
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 40px;

}
.derechos{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #EEEEEE;
    color: black;
}