* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Cabin", sans-serif;
}
.footerCBP {
  background: #eeeeee;
  font-family: 'Cabin', sans-serif;
}
img {
  width: 40px;
}
.logoCBP {
  display: flex;
  align-items: center;
  gap: 10px;
}
span {
  font-size: 23px;
}
.fb {
  background: #658864;
  padding: 10px;
  border-radius: 50px;
  color: white;
}
.tw {
  background: #658864;
  padding: 10px;
  border-radius: 50px;
  color: white;
}
.in {
  background: #658864;
  padding: 10px;
  border-radius: 50px;
  color: white;
}
.li {
  background: #658864;
  padding: 10px;
  border-radius: 50px;
  color: white;
}
.yt {
  background: #658864;
  padding: 10px;
  border-radius: 50px;
  color: white;
}
.headerCBP {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}
.nameCBP {
  font-size: xx-large;
  color: #658863;
}
.sectionCBP {
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
}
.sectionCBP div {
  display: flex;
  flex-direction: column;
}
div h3 {
  color: #658864;
  padding: 10px 0;
}
a {
  color: black;
  text-decoration: none;
  padding: 5px;
}
.formFooterCBP {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.inputCBP {
  background: solid 2px white;
  padding: 10px 20px;
}
.buttonCBP {
  padding: 10px 20px;
  background: #658864;
  color: white;
  font-size: 18px;
}
.logosDePagoCBP {
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 50px;
}
.derechosCBP {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #eeeeee;
  color: #658854;
}
