*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Cabin', sans-serif;
    background-color: white
}
.titles{
    font-family: 'Noto Serif Tamil', serif;
    color: #658864;
    font-size: 60px;
    background-color: #B7B78A;
}

.buttons{
    font-size: 12pt;
    margin: 10px 0px;

}
.buscar{
    background-color: #B7B78A;

}
.btnInput{
    font-family: 'Cabin', sans-serif;
    border: none;
    background: none;
    outline: none;
    color: white;
    float: left;
    transition: 3s;
    width: 0;
}
#btnBuscar{
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translate(-50%, -50%);
    background: #B7B78A;
    padding: 10px;
    border-radius: 40px;
}

/* Responsive */
@media screen and (min-width:480px){
    .buscar:hover > .btnInput{
        width: 190px;
    }
    
}
    
.ir{
    width: 40px;
    text-decoration: none;
    color: white;
    font-size: 30px;
}

#contentItemsCarrusel{
    margin: 50px, 50px;
    border: 5px solid black ;
    height: 300px;
    width: auto;
    overflow: hidden;
    border-radius: 10px;
    background-color: #eeeeee;
    background-image: url(./img/logo1.png);
    background-repeat: repeat space;
    background-size: 100px;
    align-self: center;
}

.itemCarrusel{
    height: 100%;
    position: relative;
}

.tarjetaCarrusel{
    height: 100%;
    width: 100%;
}

.flechasCarrusel{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

i{
    color: black;
    font-size:xx-large;
}

.tarjetaCarrusel img{
    height: 100%;
    width: 40%;
    margin-left: 30%;
}

/* ----------------------*..........***********.................. */

.buttons{
    font-family: 'Cabin', sans-serif;
}

.subtitle{
    color: #658864;
}
.tarjetas{
    margin: 20px;
    border-style: solid;
    border-radius: 8px;
    padding: 20px, 20px;
    float: left;
    text-align: center;
    transition: all 0.25s;
    background-color: #dddddd;
    font-size: 14pt;
    width: 280px;

}
.tarjetas:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0,0,0,0.2);
}
.tarjetasImg{
    width: 180px;
    text-align: center;

}
nav{
    text-align: center;
}

/* pallete colors
#658864
#B7B78A
#DDDDDD
#EEEEEE */

