



@font-face{
    font-family:'Bitter';
src: url('C:\Users\Oscar\generation\ch23\labandagangrena\FinalProject\FinalProject\code\blogdefinitivo\fuentes\Bitter\Bitter-VariableFont_wght.ttf');
}

body{
    font-family: 'Bitter';
}

a.mes{
color: #658864;
}


  