/* Globales */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Aqui empieza el titulo de categoria de productos */
aside{
    font-family: 'Cabin', sans-serif;
}
/* Aqui empieza el titulo de categoria de productos */


/* Aqui empieza la categoria de productos */
#tarjetas{
    font-family: 'Cabin', sans-serif;
}
#tarjetas:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0,0,0,0.2);
}
#catalogo{
    font-family: 'Cabin', sans-serif;
}

.luisssSotoBtnAñadir{
  background-color: #B7B78A;
  width: 10em;
  text-align: center;
  font-family: 'Cabin', sans-serif;
}

.luisssSotoBtnAñadir:hover{
  background-color: #658864;
  box-shadow: 0 12px 16px rgba(0,0,0,0.2);
  border-radius: 40%;
  color: #ffffff;
}
/* Aqui termina la categoria de productos */
