* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo{
  width: auto;
  height:80px;
}
nav{
  background-color: #eeeeee;
}

.btn{
  background-color: #658864;
  color: #ffffff;
}

.tamil{
  font-family: 'Lexend', sans-serif;
  font-weight: bold;
  font-size: 25px;
}

.cabin{
  font-family: 'Lexend', sans-serif;
  font-weight: bold;
}

.navbar .nav-link {
  padding: 0 20px;
  color: #658864;
  transition: 0.3s ease;
}
.navbar .nav-link:hover,
.navbar .nav-link.active {
  color: #B7B78A;
}

.nav-item{
  margin: 17px;
}
/* inisio sesion */
:root {
  --prin: #658864;
  --sec: #B7B78A;
  --formu: #DDDDDD;
}

.fd-formu {
  background-color: var(--formu)
}

.bg{
  background-image: url(../yukArtImg/inicioSesionChichenItza.png);
    background-color: #658864;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.txt {
  margin-top: 110px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.txt-1 {
  color: black;
  font-size: 48px;
}

.lol{
  color: #658864;
}

.linea{
  background-color: #B7B78A;
}

/* ICONO OJO */
.wrapp-inputIS{
  position: relative;
}
.icon-eyeIS{

position: absolute;
right: 1%;
top: 55%;
transform: translateY(-50%);
cursor: pointer;
transition: .4s ease all;

}
.icon-eyeIS:hover{
color: #658864;
}

