
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Aqui empieza la barra con el boton buscar */
#luisssSotoNavBar{
    text-align: center;
    background-color: #B7B78A;
}
/* Aqui empieza la barra con el boton buscar */

/* Inicio del boton Buscar */
#luisssSotoInput{
  padding: 9px 10px 9px 32px;
  outline: none;
  font-size: 18px;
  border-radius: 18px;
  color: #658864;
  border: 3px solid #B7B78A;
  width: 60px;
  transition: all.5s;
}

#luisssSotoInput:hover{
  width: 300px;
  background-color: #eaeeea;
  border-color: #658864;
  box-shadow: 0 0 5px #ffffff;
}
/* Fin del boton Buscar */



/* Aqui empieza el Carrusel */
.carousel-item{
  height: 50vh;
}

.carousel-caption{
  bottom: 220px;
  z-index: 2;
}

.carousel-caption h5{
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
  font-family: 'Cabin', sans-serif;
}

.luisssSotoBtnConoce{
  width: 90 px;
  margin: auto;
  font-family: 'Cabin', sans-serif;
  border-radius: 10%;
}

.luisssSotoBtnConoce:hover{
  box-shadow: 0 0 5px #ffffff;
  transform: translateY(-40px);
}

.carousel-inner::before{
  content: '';
  position: absolute;
  width:100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  z-index: 1;
}

/* ir{
  width: 60px;
  text-decoration: none;
  color: white;
  font-size: 30px;
  border-radius: 20%;
  margin: 100px;
} */
/* Aqui termina el Carrusel */


/* Aqui empieza el titulo de categoria de productos */
aside .tituloCatalogo{
  font-family: 'Cabin', sans-serif;
}
/* Aqui empieza el titulo de categoria de productos */


/* Aqui empieza la categoria de productos */
#tarjetas:hover{
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0,0,0,0.2);
}
#catalogo{
  font-family: 'Cabin', sans-serif;
}
/* Aqui termina la categoria de productos */


/* tipos de fuente */
/* font-family: 'Noto Serif Tamil', serif;
font-family: 'Cabin', sans-serif; */